@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, #00101a, #00101ae3);
}

main{ 
    width: 991px;
    height: 320px;    
    transition-duration: 0.3s;
}

main > div#image{
    width: 30%;
    height: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden;
}

main > section{
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;

    border-top-right-radius: 18px;
}      

input#iemail{
    width: 623px;
}

input#ipsw{
    width: 623px;
}

input#ientrar{
    width: 672px;
}

input#irecuperar{
    width: 672px;
}